mixin item(title, place, location, from_date, to_date)
  .blocks
    .date
      if from_date
        span= from_date
      if to_date
        span= to_date
    .decorator
    .details
      header
        h3= title
        if place
          span.place= place
        if location
          span.location= location
      .description
        block

mixin desc()
  .blocks
    .date
    .main-dsc 
      block

mixin sidebar()
    #sidebar
        .name Matthew Baum
        .subtitle Full Stack Web Developer
        #contact.side-block
            hr
            ul
                li #[i.fa.fa-github] github.com/mattb0101
                li #[i.fa.fa-linkedin] linkedin.com/in/matt-baum-0101
                li #[i.fa.fa-envelope] mattbaum0101@gmail.com
                li #[i.fa.fa-phone] 07963636348
            hr
    
        #disclaimer.side-block.
            CV code available at: https://github.com/mattb0101/matt_cv